h1,
h2,
button,
span,
strong,
label {
  font-family: "Century Gothic";
}

input {
  outline: none;
  max-width: 70%;
}

label {
  margin: 0 !important;
  font-size: 15px;
}

.fullContent {
  width: 90%;
  height: 100%;

  padding: 20px 0;

  margin: 20px auto;
}

.fullContent h1 {
  width: 90%;
  font-size: 48px;
  line-height: 49px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.mainContent {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.leftSide {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSide .aboutProduct {
  width: 90%;
  margin-bottom: 32px;

  padding: 60px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  align-self: flex-start;

  border: 1px solid rgb(167, 162, 162);
}

.fullContent .purchaseFinished {
  background-color: #0ec4ab;
  padding: 8px 70px;
  outline: none;
  border: 1px solid rgb(167, 162, 162);
  border-radius: 43px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 35px;
  font-weight: normal;
  margin-top: 24px;

  transition: background-color 0.6s ease;
}

.fullContent .purchaseFinished:hover {
  background-color: #9ccac4;
}

.MuiAccordion-root {
  width: 90%;
  background-color: #8ed7cd !important;
  border: 0.7px solid #ccc;
}

.divInputLabelError {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 800px) {
  .mainContent {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .mainContent .leftSide,
  .rightSide {
    width: 90%;
    margin: 0 auto;
  }

  .mainContent .leftSide .aboutProduct {
    width: 100%;
  }

  .fullContent .purchaseFinished {
    padding: 8px 10px;
    width: 60%;

    font-size: 1.3rem;
  }

  .inputsTogether {
   display: flex;
  }

  .inputsEndereço {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
  }
  .inputsPrimeira{
      margin-left: 180px;
      padding: 30px;
      border: 30px;
  }
  .fullPage{
      display: flex;
      justify-content: center;
      border: 20px;
      margin: 20px;
      border-color: black;
  }
}
