.containerPedidos {
  width: 100%;
  padding: 28px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  display: flex;
  justify-content: center;
}
.containerDados {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: large;
  line-height: 30px;
}

.containerEndereço {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: large;
  line-height: 30px;
}

.title {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-left: 7%;
  color: black;
  margin-bottom: 1px;
}

.profileContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 3%;
}

.ordersContainer {
  margin-left: 10%;
}

.titleLine {
  border-top: 3px solid #4dcdbc;
  border-radius: 20px;
  width: 50%;
  margin-left: 10%;
}

.titleLine2 {
  border-top: 3px solid #4dcdbc;
  border-radius: 20px;
  width: 30%;
  margin-left: 10%;
}

@media (max-width: 800px) {
  .ordersContainer {
    margin-left: -30px;
  }

  .containerPedidos {
    width: 100%;
    padding: 28px;
    display: grid;
  }
}
