
.profileContainer {
  width: 90%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 3% auto 10% auto;
}

.profileContainer .personalDataContainer{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profileContainer .ordersContainer {
  height: 100%;
  width: 65%;
  margin-left: 10%;
}

.profileContainer .titleProfile {
  font-size: 28px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: black;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer .titleLine {
  height: 2px;
  width: 80%;
  background-color: #0EC4AB;
  border-radius: 5px;
  margin-top: 8px;
  align-self: center;
}

.profileContainer .personalDataContainer .containerDados {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: large;
  line-height: 30px;
}

.profileContainer .personalDataContainer .containerEndereço {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: large;
  line-height: 30px;
}


.profileContainer .ordersContainer .containerPedidos {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
}

.profileContainer .ordersContainer .titleLine2 {
  height: 3px;
  width: 80%;
  margin-top: 8px;
}

@media (max-width: 800px) {

  .profileContainer{
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
  }
  
  .profileContainer .personalDataContainer{
    width: 100%;
  }

}
