.titleCad2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 0%;
  }

  .titleLineExp2 {
    border-top: 3px solid #4dcdbc;
    border-radius: 20px;
    width: 52%;
    margin-left: 0.5%;
    margin-top: -1%;
    margin-bottom: 5%;
  }