.shop{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-height: 80vh;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#search{
    border-radius: 5vh;
    border-color: #201F24;
    height: 5vh;
    width: 40vh;
    color: rbga(0,0,0,0.54);
    padding-left: 5%;
}

.searchButton{
    color: #201F24;
    margin-left: 5vh;
    margin-top: 1vh;
    font-size: 1.5rem;
}

.shopContainer{
    display: flex;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    
}

.productContainer{
    margin-left: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.4fr));
    justify-content: center;
}

.filterContainer{
    width: 200px;
}

.priceContainer{
    width: 200px;
}

.filterPrice{
    display: flex;
    flex-direction: row;
}

.filterPrice label{
    display: flex;
    flex-grow: 1;
}

.pagination{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}

.pagination_button{
    display: flex;
}

.pagination_item{
    margin: 0 10px;
}