
.shop{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-height: 80vh;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#search{
    border-radius: 5vh;
    border-color: #201F24;
    height: 5vh;
    width: 40vw;
    color: rbga(0,0,0,0.54);
    padding-left: 5%;
}

#search:focus{
    border-color: #3696e4;
}

.searchButton{
    color: #201F24;
    margin-left: 3vh;
    margin-top: 1vh;
    font-size: 1.5rem;
    cursor: pointer;
}

.searchButton:hover{
    color:  #3696e4;
}

.shopContainer{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    height: fit-content;
    
}

.filterContainer{
    width: 230px;
}

.filtersProducts{
    margin-top: 7px;
}

/*Trocando a cor dos inputs checkbox e radio*/
.checkbox{
    display: none;
}

input[type=checkbox] + label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

input[type=checkbox] + label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    border: 1px solid  #201F24;
    vertical-align: bottom;
    border-radius: 2px;

}

input[type=checkbox]:checked + label::before {
    background-color: #0EC4AB;
    border: 1px solid #0EC4AB;
}

input[type=checkbox]:checked + label::after {
    content: '';
    position: absolute;
    left: 6px;
    bottom: 4px;
    width: 8px;
    height: 16px;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    transform: rotate(45deg);
}

.radio{
    display: none;
}

input[type=radio] + label {
    position: relative;
    cursor: pointer;
}

input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px;
    vertical-align: bottom;
}

input[type=radio]:checked + label::before {
    background-color: #0EC4AB;
    border: 1px solid #0EC4AB;
}

input[type=radio]:checked + label::after {
    content: '';
    position: absolute;
    left: 206px;
    bottom: 4px;
    width: 8px;
    height: 15px;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    transform: rotate(45deg);
}
/*---------------------------------------------------------------------*/

.priceContainer{
    width: 230px;
}

.filterPrice{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.filterPrice label{
    display: flex;
    flex-grow: 1;
}

.productContainer{
    margin-left: 20px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.4fr));
    justify-content: center;
}

.loading_css{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FILTROS RESPONSIVO*/

@media (max-width:800px){
    #search{
        width:90vw;
    }
    .shopContainer{
        display: flex;
        flex-direction: column;
    }
    .filterContainer{
        position: relative;
        top: 3vh;
        margin-bottom: 3vh;
        display: inline-block;
    }
    .filterContent{
        display: none;
        position: absolute;
        right: 0;
        top: 3vh;
        background-color: #f9f9f9;
        min-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .filtersProducts{
        margin-left: 7px;
    }

    .filterContainer:hover .filterContent{ display: block;}
    .filtersProducts input{ background-color: black;}
    .productContainer{
        margin-left: 5px;
    }
    .priceContainer{
        margin-left: 5px;
    }
}