.tabela {
  margin-left: 5%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.titulotab {
  background-color: #D9D9D9;
  text-align: center;
}

.employee {
  padding-bottom: 12vh;
  width: 60vh;
}

.idfunc {
  text-align: center;
  padding: 2vh;
}

.datafunc {
  text-align: center;
}

.subtitle {
  text-align: center;
}

table, td, th{
  border:1px solid #4dcdbc;
  font-weight: normal;
}
