.product{
    background-color: white;
    padding: 10px;
    height: 270px;
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    overflow: auto;
    
    text-decoration: none;

    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);

}

.productImage{
    display: flex;
    justify-content: center;
}

.imageProduct{
    width: 70%;
}

.productDescription{
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    color: #707070;
    margin-top: 5%;
}

.productPrice{
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    color: #0EC4AB;
    margin-top: 5%;
}

.Button{
    height: 12%;
    width: 55%;
    margin-top: 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid;
    border-radius: 5rem;
    border-color: #8ED7CD;

    transition-duration: 0.5s;
}

.buyButton{
    text-decoration: none;
    color: #201F24;
}

.Button:hover{
    background-color: #8ED7CD;
}

@media (max-width: 430px){
    .productDescription{
        font-size: 1rem;
    }
    .productPrice{
        font-size: 1.7rem;
    }
}