.product{
    background-color: skyblue;
    padding: 10px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.imageProduct{
    width: 150px;
}

.productDescription{
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    color: #707070;
    margin-top: 5px;
}

.productPrice{
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    color: #3772FF;
    margin-top: 5px;
}

@media (max-width: 430px){
    .productDescription{
        font-size: 1rem;
    }
    .productPrice{
        font-size: 1.7rem;
    }
}