.fullContent{

    width: 100%;
    height: 100%;

    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
}

.divCarousel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
    /* background-color: #aa2b2b; */
}

.carousel{
    width: 90%;
    /* background-color: #aa2b2b; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel-inner{
    width: 80% !important;
    display: flex;
}
.carousel-item div {

display: flex;
justify-content: center;
}

.carousel-control-prev, .carousel-control-next{
    width: fit-content;
}

.carousel-control-prev svg, .carousel-control-next svg{
    font-size: 95px;
    color: #707070;
}

/* .carousel-control-prev > span, .carousel-control-next > span{
    background-color:#aa2b2b;
} */


.carousel-indicators{
    margin-bottom: -30px;
}

.carousel-indicators li{
    height: 7px !important;
}


.divQuemSomos{
    width: 90%;
    height: auto;
    margin: 0 auto 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divQuemSomos h2, .divNossosProdutos h2{
    width: fit-content;
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 49px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 24px;
}

.lineUnderTitle{
    width: 80%;
    height: 2px;
    background-color: #38726C;

    margin-top: 8px;
}

.divQuemSomos .conteudoQuemSomos{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.divQuemSomos .conteudoQuemSomos span{
    width: 65%;
    text-align: initial;
    font-size: 20;
    line-break: 25;
    color: #000;
}

.divQuemSomos .conteudoQuemSomos img{
    width: 30%;
}

.divNossosProdutos {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divNossosProdutos span{
    margin: 15px 0;
}

.divNossosProdutos .divCardsExterna{
    width: 100%;
    height: 400px;

    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.divCardProdutos{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #707070;
    border-radius: 15px;

    padding: 5px 8px;
}

.divCardProdutos img{
    height: 85%;
    width: 100%;
    margin-bottom: 15px;
}

.divCardProdutos strong{
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
}

@media(max-width: 800px){

    .carousel-control-prev {
        margin-right: 15px;
    }
    .carousel-control-next {
        margin-left: 15px;
    }

    .carousel-control-prev svg, .carousel-control-next svg{
        font-size: 45px;
        color: #707070;
    }

    .divQuemSomos .conteudoQuemSomos{
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }

    .divQuemSomos .conteudoQuemSomos img{
        width: 70%;
        margin-top: 30px;
    }

    .divNossosProdutos .divCardsExterna{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divCardProdutos + .divCardProdutos{
        margin-top: 24px;
    }
}