/* Estlizações abaixo são para a tabela */
#orderStyle {
  width: fit-content;
  border-radius: 15px;
  height: fit-content;
  background-color: red;
  padding: 0px;
}

table,
td,
th {
  height: 40px;
  border: 0;
  border: 0.1px solid#7FA5A0 !important;
  padding: 0 !important;
}

.orders {
  text-align: center;
  width: 100%;
  padding: 0;
}

.orders th {
  background-color: #ccc;
  font-size: 22px;
  font-weight: normal;
}

.orders .singleOrder .status_table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orders .singleOrder .id_table .id_camp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0%;
  width: 60%;
}

/*Estlizacção para a página */

.orders_page {
  display: flex;
  width: 100vw;
  padding: 0;
  /* justify-content:space-between; */
}

.orders_page .sidebarAdm {
  width: 15%;
}

.orders_page .orders_data {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.orders_page .orders_data .top_page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  height: 15%;
}

.orders_page .orders_data .top_page .search_order {
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders_page .orders_data .top_page .search_order .input_div .input_id {
  border: 1px solid #7fa5a0;
  border-radius: 20px;
  height: 40px;
}

.orders_page .orders_data .top_page .div_pendente {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;
}

.orders_page .orders_data .top_page .div_pendente .text_pendente {
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
}

.orders_page .orders_data .top_page .div_pendente .toggle_order {
  margin-left: 10px;
}

.orders_page .orders_data .adm_div_table {
  width: 80%;
  height: 90%;
}

.adm_div_table {
  padding: 50px;
}

.filterTitleProducts {
  display: flex;
  flex-direction: row;
}

.input_div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.adm_orders_id {
  padding-bottom: 1vh;
  border-bottom: 1px solid #323131;
  width: 100%;
}

.adm_orders_id tr {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.adm_orders_id tr a svg {
  font-size: 30px;
  color: #666;
  cursor: pointer;
}

.adm_orders_id tr a svg:hover {
  color: #007bff;
}

.adm_orders_status {
  border-bottom: 1px solid #323131;
  width: 100%;
}

.evento_pendente {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 808px) {
  .search_order {
    flex-direction: row;
  }

  .filterTitleProducts {
    display: flex;
    flex-direction: row;
  }

  .input_div {
    display: flex;
    flex-direction: row;
  }

  .div_pendente {
    padding-top: 150px;
  }

  .adm_div_table {
    padding: 0;
    padding-top: 20vh;
    width: 100%;
  }

  .adm_orders_id {
    padding-bottom: 0vh;
    border-bottom: 1px solid #323131;
    width: 100%;
    height: 15vh;
  }

  .adm_orders_status {
    padding-bottom: 0vh;
    border-bottom: 1px solid #323131;
    width: 100%;
    height: 15vh;
    align-items: center;
  }
}

@media (max-width: 1090px) {
  .orders_data {
    padding: 5vh;
  }

  .search_order {
    flex-direction: row;
  }

  .filterTitleProducts {
    display: flex;
    flex-direction: row;
  }

  .input_div {
    display: flex;
    flex-direction: row;
  }

  .div_pendente {
    position: absolute;
    padding-top: 150px;
  }

  .adm_div_table {
    padding: 0;
    padding-top: 20vh;
    width: 100%;
  }

  .adm_orders_id {
    padding-bottom: 1vh;
    border-bottom: 1px solid #323131;
    width: 100%;
  }

  .adm_orders_status {
    border-bottom: 1px solid #323131;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .orders_data {
    padding: 0;
    padding-bottom: 25vh;
  }

  .search_order {
    flex-direction: row;
  }

  .filterTitleProducts {
    display: flex;
    flex-direction: row;
  }

  .input_div {
    display: flex;
    flex-direction: row;
  }

  .div_pendente {
    position: absolute;
    padding-top: 5vh;
    padding-left: 50vw;
  }

  .adm_div_table {
    padding: 0;
    padding-top: 2vh;
    width: 100%;
  }

  .adm_orders_id {
    padding-bottom: 1vh;
    border-bottom: 1px solid #323131;
    width: 100%;
  }

  .adm_orders_status {
    border-bottom: 1px solid #323131;
    width: 100%;
  }
}
