
.registerProductFullContent{
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.registerProductFullContent .iconToReturn{

    position: absolute;
    font-size: 35px;
    top: 10px;
    left: 5px;
    color: #666;

    cursor: pointer;
}

.registerProductFullContent .iconToReturn:hover{
    color: #007bff
}

.registerProductFullContent .mainContent{

    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    margin-top: 30px;
}

.registerProductFullContent .mainContent h1{
    font-size: 32px;
    line-height: 49px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.registerProductFullContent .mainContent h1 span{
    width: 90%;
    height: 2px;
    margin: 0 auto;
    border-bottom: 2px solid #0EC4AB
}

.registerProductFullContent .mainContent .formRegisterProduct{
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput + .spanWithInput{
    margin-top: 25px;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput span{
    font-size: 20px;
    color: #38726C;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput .manyRadioButtons{

    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput .manyRadioButtons .radioButtonWithLabel{
    
    display: flex;
    flex-direction: row;

    align-items: center;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput .manyRadioButtons .radioButtonWithLabel label{
    font-size: 18px;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput .manyRadioButtons .radioButtonWithLabel input{
    font-size: 18px;
    margin-left: 8px;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput > input{
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #9EE7DD;
    border-radius: 7px;
}

.registerProductFullContent .mainContent .formRegisterProduct .spanWithInput > input:focus{
    
    border: 1px solid #15ccb4;

}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel{
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin-top: 25px;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox{
    width: 100%;

    padding: 10px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox > span{
    font-size: 20px;
    color: #38726C;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox > button{
    /* font-size: 18px;
    font-weight: 600;
    color: #000000; */
    padding: 10px 20px; 
    outline: none;
    border: none;
    border-radius: 20px;

    background-color: #8ED7CD;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox button .textAddProduct{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox button .iconAddProduct{
    display: none;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox > button:hover{
    background-color: #71d3c6;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .boxManipulateModels{
    width: 100%;
    height: 500px;

    padding: 30px 15px;

    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    gap: 30px;

    border: 1px solid #8ED7CD;

    margin-bottom: 24px;
    overflow: auto;
}

.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .finalButtonToRegister{
    
    width: 50%;
    font-size: 22px;
    font-weight: 600;

    color: #000000;
    padding: 10px 30px; 

    outline: none;
    border: none;
    border-radius: 20px;

    background-color: #8ED7CD;
}
.registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .finalButtonToRegister:hover{
    background-color: #71d3c6;
}

@media(max-width: 1000px){

    .registerProductFullContent .mainContent .formRegisterProduct .spanWithInput .manyRadioButtons{
        width: 100%;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        justify-items: center;
    }

    .registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox button .textAddProduct{
        display: none;
    }
    
    .registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .labelAndButtonAboveBox button .iconAddProduct{
        display: block;
        font-size: 40px;
        color: #212529;
    }

    .registerProductFullContent .mainContent .formRegisterProduct .boxToManipulateProductModel .finalButtonToRegister{
        width: 80%;
    }
}
