.shipping td,
.shipping th {
  padding: 4px !important;
  height: 100%;
}

.calculateQuoteArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
}

.calculateQuoteButton {
  font-size: 12px !important;
  border-radius: 10px !important;
  background-color: #d1c9c9 !important;
  padding: 8px !important;
  min-width: 90px !important;
  align-self: start;
}

.quoteShipping {
  width: 100%;
}

.groupShipping {
  justify-content: space-between;
}

.invalid-feedback{
  display: block !important;
}