/* Inicio Cart Contents -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.all_window {
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    width: 350px;
    box-sizing: content-box;

    border-left: solid 0.5px rgba(0, 0, 0, 0.2);
    border-right: solid 0.5px rgba(0, 0, 0, 0.2);
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.all_window .blueLine {
    width: 100.6%;
    height: 4px;
    background-color: #4dcdbc;
    margin-bottom: 15px;
    margin: -1.5px;
    z-index: 9;
}

.all_window .products {
    min-height: 90px;
    max-height: 175px;
    overflow: auto;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
}

.all_window .subtotal_div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: black;
    margin: auto;
}

.all_window .subtotal_div h5 {
    color: black;
}

.all_window .stylized_button {
    margin: auto;
    width: fit-content;
    color: black;
    margin-bottom: 10px;
    background-color: #4dcdbc;
    padding: 5px 20px;
    border-radius: 15px;
    border: 0;
    display: flex;
    align-items: center;
}

/* Inicio Sigle Product -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.all_window .products .singleProduct {
    box-sizing: border-box;
    width: 95%;
    height: 90px;
    margin: auto;
    padding: 0px 1px 0px 3px;
    color: black;

    display: flex;
    justify-content: space-between;
}

.all_window .products .singleProduct .photo {
    height: 90%;
    max-width: 33%;
    margin: auto;
}

.all_window .products .singleProduct .photo .FotoCamisa {
    width: 90%;
    height: 90%;
}

.all_window .products .singleProduct .texts {
    width: 67%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.all_window .products .singleProduct .Prod_Title {
    margin: 10px 0px;
    font-weight: lighter;
}

.all_window .products .singleProduct .description {
    color: black;
}

.all_window .products .singleProduct .description .pt1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: #666;
    /* margin: 3px 0; */
}

.all_window .products .singleProduct .description .pt1 p {
    width: fit-content;
    margin: 0;
}

.all_window .products .singleProduct .description .pt2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: #666;
}

.all_window .products .singleProduct .description .pt2 .color {
    width: fit-content;
    margin: 0;
}

.all_window .products .singleProduct .description .pt2 .total_price {
    width: fit-content;
    margin: 0;
    font-size: 12px;
}
/* Fim Sigle Product -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Fim Cart Contents -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Incio LoginContent -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.drop_content {
    border: solid 0.5px #ccc;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    background-color: #fff;
    position: absolute;
    top: 23px;
    right: 0px;
    z-index: 1;
}

.drop_content .title_login {
    width: 100%;
    background-color: #ccc;
    height: fit-content;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    color: black;
}

.drop_content .inputs {
    width: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.drop_content .inputs input{
    display: flex;
    justify-content: space-between;
    color: black;
    width: 95%;
    border-radius: 15px;
    border: solid 1px #ccc;
}

.drop_content .buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.drop_content .buttons button {
    margin: auto;
    width: fit-content;
    color: black;
    margin-bottom: 10px;
    background-color: #4dcdbc;
    padding: 5px 20px;
    border-radius: 15px;
    border: 0;
    display: flex;
    align-items: center;
}

.drop_content .forgetPassword {
    margin: 0 10px;
    color: #666;
    cursor: pointer;
}

/* Fim LoginContent -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/*Começo Modal ForgetPassword*/

.title-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.title-modal span{
    margin-left: 3%;
}

.conteudo-modal {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin: 5% 0 5% 0;
}

.conteudo-modal input{
    border: 1px solid #707070;
    border-radius: 40px;
    width: 80%;
    height: 40px;
    margin-bottom: 3%;
    padding-left: 3%;
    font-size: 1.1rem;
}

.conteudo-modal .modalbutton{
    background-color: #8ED7CD;
    border: none;
    border-radius: 40px;
    width: 30%;
    font-size: 1.3rem;
    color: black;
    margin-bottom: 3%;
}

.conteudo-modal p{
    font-size: 1.1rem;
    color: black;
}


/* Fim Modal ForgetPassword -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

@media (max-width: 430px){
    .title-modal{
        font-size: 2rem;
        margin-bottom: 3%;
    }
    .conteudo-modal input{
        width: 95%;
        height: 50px;
        margin-bottom: 5%;
        padding-left: 5%;
        font-size: 1.5rem;
    }
    .conteudo-modal .modalbutton{
        width: 40%;
        font-size: 1.8rem;
        margin-bottom: 5%;
    }
    .conteudo-modal p{
        font-size: 1.5rem;
        text-align: center;
    }
}