.productModelCardAdmFullContent {
  width: 350px;
  height: 415px;
  padding: 30px 25px 25px 25px;

  border: 1px solid #9ee7dd;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconAvailable {
  width: 40%;
  top: 20px;
  right: 20px;
  position: absolute !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
}

.iconEditImage {
  width: 40%;
  top: 20px;
  left: 20px;
  position: absolute !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
}

.productModelCardAdmFullContent .iconGarbage:hover {
  color: rgb(236, 85, 85);
}

.productModelCardAdmFullContent img {
  width: 70%;
  margin-bottom: 30px;
}

.productModelCardAdmFullContent .modelName {
  font-size: 18px;

  margin-bottom: 5px;
}

.productModelCardAdmFullContent .priceAndGender {
  width: 90%;

  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.productModelCardAdmFullContent .priceAndGender span {
  font-size: 18px;
}

.productModelCardAdmFullContent .iconWithText {
  width: auto;
  align-self: flex-start;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
}

.productModelCardAdmFullContent .iconWithText p {
  margin: 0;
}

.productModelCardAdmFullContent .selected {
  color: #007bff;
  background-color: transparent;
}

.productModelCardAdmFullContent .iconWithText:hover {
  color: #007bff;
}

.productModelCardAdmFullContent .iconWithText + .iconWithText {
  margin-top: 10px;
}

.productModelCardAdmFullContent .iconWithText .iconProductModelCard {
  margin-right: 10px;
}
.image {
  max-width: 100%;
  max-height: 50%;
  display: flex;
  justify-content: center;
}
