.pedido {
  background-color: white;
  padding: 20px;
  margin: 20px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  border: 2px solid gray;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pedido .pedidoData {
  margin: 8px 0px;
}

.pedido .pedidoNumber {
  font-weight: 550;
  font-size: large;
}

.pedido .pedidoStatus {
  margin: 0px 0px;
}

.pedido .horizontalLine {
  width: 100%;
  border-top: 2px solid gray;
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
}

.pedido .pedidoBotao2 {
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%;

  background-color: #0ec4ab;
  outline: none;
  border: 1px solid rgb(167, 162, 162);
  border-radius: 43px;
  width: auto;
  align-self: center;
}

.pedido .pedidoBotao2 a{
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1030px) {
  .pedido {
    width: fit-content;
    margin: auto;
    align-items: flex-start;
  }

  .pedido + .pedido {
    margin-top: 16px;
  }
}
