.pedido{
background-color: white;
padding: 20px;
margin: 20px;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
border: 2px solid gray;
margin-top: 15px;
margin-bottom: 15px;
}

.pedidoNumber{
font-weight: 550;
font-size: large;
}

.data{
font-size: smaller;
}

.status{

}
.destino{

}

.total{
font-size: medium;


}

hr{
    border-top: 2px solid gray;
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;
}

.pedidoBotao{
    align-items: center !important;
    margin-block-start: 1.2em;
    margin-left: 15%;
    border-radius: 15px;
    
}
