.cardContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding: 30px 20px;
  padding-right: 8vw;
}

.cardContainer table,
th,
td {
  border: 1px solid #707070;
  border-collapse: collapse;
  vertical-align: middle !important;
}

.cardContainer th {
  background-color: #d8d8d8;
  padding: 8px 12px !important;
}

.cartTable {
  width: 80vw;
  margin: 0 auto;
  padding: 15px;
  margin-right: 15px;
}

.cartTable .table {
  height: 100%;
  width: 100%;
}

.productInfo {
  text-align: center;
  padding: 15px;
}

.productNameCartProduct {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
}

.productImg {
  width: auto;
  max-width: 250px;
}

.amountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amountInput {
  width: 50px;
  text-align: center;
}

.shippingContainer {
  padding: 20px;
  display: flex;
  align-items: center;
}

.shippingText {
  margin: 0;
}

.inputShipping {
  margin-left: 10px;
  width: 70% !important;
}

.subTotalCarrinho {
  background-color: #d8d8d8;
  padding: 8px 12px !important;
  text-align: left;
  font-size: 1.5rem;
}

.totalCarrinho {
  background-color: #d8d8d8;
  padding: 8px 12px !important;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
}

.checkoutButton {
  margin-top: 5vh;
  height: 50px;
  width: 300px;
  align-self: flex-end;
  border-radius: 30px;
  background-color: #0ec4ab;
  border: 1px solid #707070;
  font-size: 1.8rem;
  font-weight: 400;
  transition: 0.5s;
  margin-bottom: 20px;
}
.cartTitle {
  margin-left: 10%;
  align-self: flex-start;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutButton {
  /* margin-top: 5vh; */
  height: 50px;
  width: 300px;
  align-self: flex-end;
  border-radius: 30px;
  background-color: #0ec4ab;
  border: 1px solid #707070;
  font-size: 1.8rem;
  font-weight: 400;
  transition: 0.5s;
}
.cardContainer .buttonSize {
  width: 35vw;
  display: flex;
  align-self: flex-end;
  margin-right: 40px;
}

.checkoutButton:hover {
  background-color: #086b5e;
  color: #fff;
}

.pointerCursor {
  cursor: pointer;
}
