.all_page {
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;

    box-sizing: border-box;
}

.all_page .page_content{
    width: 97%;

    display: flex;
    justify-content: space-between;
}

.all_page .page_content .small_title {
    font-weight: bold;
}

/* Daqui pra baixo temos somente a parte da imagem. */

.all_page .page_content .shirt_images {
    width: 35%;
    /* background-color: red; */
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px 0 0 0;
}

.all_page .page_content .shirt_images .div_main_image {
    height: 70%;
    margin: 0px 0 50px 0;
}

.all_page .page_content .shirt_images .div_main_image .main_image {
    /* max-width: 100%;
    max-height: 90%; */
    /* width: 100%; */
    height: 100%;
}

.all_page .page_content .shirt_images .container_secundary_images {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 80%;
    height: 15%;
    margin: 0;
}

.all_page
    .page_content
    .shirt_images
    .container_secundary_images
    .div_secundary_images {
    width: 100%;
    height: 100%;
}

.all_page
    .page_content
    .shirt_images
    .container_secundary_images
    .div_secundary_images
    .secundary_images {
    width: 33%;
    height: 100%;
    padding-left: 1px;
}

.all_page
    .page_content
    .shirt_images
    .container_secundary_images
    .div_secundary_images
    .secundary_images:hover {
    border: solid 1px black;
}

/* Daqui pra baixo teremos a parte das informações das camisas */
.all_page .page_content .shirt_informations {
    width: 65%;
    height: 100%;
    /* background-color: blue; */
}

.all_page .page_content .shirt_informations .title_and_description {
    height: 20%;
    margin-bottom: 10px;
}

.all_page
    .page_content
    .shirt_informations
    .title_and_description
    .title_shirt {
    font-weight: bold;
}

.all_page
    .page_content
    .shirt_informations
    .title_and_description
    .div_descript {
    margin: -3px 0 0 0;
}
.all_page
    .page_content
    .shirt_informations
    .title_and_description
    .div_descript
    .descript_text {
    margin: -5px 0 0 0;
}

.all_page .page_content .shirt_informations .two_columns {
    display: flex;
    justify-content: space-between;
    height: 78%;
}

.all_page .page_content .shirt_informations .two_columns .priceAndImages {
    width: 39%;
    /* background-color: yellow !important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .div_aux {
    height: 70%;
}
.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .div_aux
    .price{
        font-weight:bold;
    }

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .images
    .image {
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 50%;
    max-height: 50%;
}


.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .frete {
    display: flex;
    flex-direction: column;
}
.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .frete
    input {
    border-radius: 10px;
    border: 1px solid black;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .frete
    a {
    text-decoration: underline;
    color: #666;
}


.all_page
    .page_content
    .shirt_informations
    .two_columns
    .priceAndImages
    .images
    .image:hover {
    border: solid 1px black;
}

.all_page .page_content .shirt_informations .two_columns .order_container {
    width: 60%;
    height: 98%;
    /* background-color: green !important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left:30px;

}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .quantity {
    display: flex;
    align-items: center;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .quantity
    input {
    width: 50px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 5px;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .quantity
    h6 {
    margin-top: auto;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .interprise_logo {
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    /* justify-content:center; */
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .interprise_logo
    button {
    margin: auto;
}
.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .div_cart_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .div_cart_button
    .cart_button {
    display: flex;
    align-items: center;
    justify-content: center;

    word-wrap: normal;
    width: 200px;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .div_cart_button
    .cart_button
    * {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.all_page
    .page_content
    .shirt_informations
    .two_columns
    .order_container
    .cart_button
    .icon {
    height: 40px;
}

#stylized_button {
    border: 0;
    border-radius: 25px;
    /* width: fit-content; */
    background-color: #4dcdbc;
    padding: 1px 30px;
    cursor: pointer;
}

#stylized_button:hover{
    background-color: #369c8f;
}
